.cadastro {
  margin: 60px auto;
  max-width: 600px;
}

.title {
  font: var(--font-1-xl);
  color: var(--r5);
  margin-bottom: 40px;
}

.cadastro label {
  font: var(--font-2-m);
  color: var(--r9);
}

.cadastro input {
  margin-bottom: 20px;
}

.cadastro Button {
  margin-bottom: 20px;
  font-weight: 600;
}

.perdeu {
  text-decoration: underline;
  color: var(--r8);
  font: var(--font-1-m);
  font-weight: 600;
}
