.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: var(--a5);
  padding: 5px;
}

.p {
  font: var(--font-2-xs);
  color: var(--r9);
}

@media (max-width: 450px) {
  .p {
    font-size: 11px;
  }
}
