.Button {
  border-radius: 50%;
  padding: 14px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  position: fixed;
  top: 600px;
  right: 120px;
  border: 1px solid var(--r9);
  cursor: pointer;
}

.Button svg {
  width: 32px;
  height: 32px;
}
