.header {
  display: flex;
  padding: 20px 220px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--w);
  z-index: 1000;
}

.headerLeft,
.headerRight {
  display: inline-flex;
  align-items: center;
  gap: 32px;
}

.inputPesquisa {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  height: 50px;
  padding: 0 16px;
}

.inputPesquisa input {
  border: 0.5px solid var(--w, #fff);
  outline: none;
  padding: 0;
  height: 40px;
}

.inputPesquisa input::placeholder {
  font-size: 12px;
}

.headerRight {
  font: var(--font-1-m);
  color: var(--r9);
}

.headerRightItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 15px;
}

.headerRightItem:nth-child(1):hover #infoAtendimento {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#infoAtendimento,
#infoConta {
  display: none;
  list-style: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 12px;
  position: absolute;
  top: 90px;
  background-color: var(--a2);
  font: var(--font-2-xs);
  border-radius: 5px;
}

#infoAtendimento a,
#infoConta a {
  text-decoration: none;
  color: var(--r9);
}

#infoAtendimento::before,
#infoConta::before {
  position: absolute;
  top: -20px;
  left: 2px;
  content: '';
  border: 12px solid transparent;
  border-bottom-color: var(--a2);
}

#infoAtendimento li:nth-child(odd) {
  font-weight: 700;
}

.headerRightItem:nth-child(3):hover #infoConta {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#infoConta li:nth-child(1) {
  font-weight: 700;
  margin-bottom: 8px;
}

#infoConta a:hover,
#infoAtendimento a:hover {
  background-color: var(--r1);
  cursor: pointer;
  font-weight: 600;
}

.ellipse {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: var(--a5);
  color: var(--r8);
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--font-2-xs);
}
