.header {
  display: flex;
  padding: 20px 220px;
  justify-content: space-between;
  align-items: center;
}

.headerLeft {
  display: inline-flex;
  align-items: center;
  gap: 32px;
}

.inputPesquisa {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 16px 16px 16px 12px;
}

.inputPesquisa input {
  border: 0.5px solid var(--w, #fff);
  outline: none;
}

.headerRight {
  display: flex;
  gap: 32px;
  align-items: center;
  font: var(--font-1-m);
  color: var(--r9);
}

.headerRightItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ellipse {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: var(--a5);
  color: var(--r8);
  display: flex;
  align-items: center;
  justify-content: center;
  font: var(--font-2-xs);
}
