.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: var(--a5);
  padding: 5px;
}

.p {
  font: var(--font-2-xs);
  color: var(--r9);
}

.link {
  font: var(--font-2-xs);
  color: var(--r9);
  text-decoration: none;
  border: 1px solid var(--g10);
  border-radius: 5px;
  padding: 2px 5px;
}
