.Footer {
  display: flex;
  justify-content: center;
  gap: 130px;
  padding: 60px;
}

.Footer h4 {
  font: var(--font-2-l-b);
  color: var(--r9);
  text-transform: uppercase;
}

.Footer a {
  text-decoration: none;
  color: var(--r7);
  font: var(--font-2-m);
}

.Footer li {
  list-style: none;
}

.FooterItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.DoubleItem {
  display: flex;
  gap: 8px;
  align-items: center;
}
