.Container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px;
  background-color: var(--w);
  width: 100%;
  overflow: hidden;
}

.titleSection {
  font: var(--font-1-xl);
  color: var(--r9);
}

.Produtos {
  display: grid;
  gap: 40px;
  margin: auto;
  grid-auto-flow: column;
  grid-auto-columns: 360px;
  overflow-x: auto;
  grid-template-columns: unset;
  grid-template-rows: unset;
}

.ProdutoG {
  width: 360px;
  height: 540px;
  border-radius: 5px;
  background: var(--w);
  text-align: center;
  text-decoration: none;
}

.ProdutoGImagem {
  width: 100%;
  height: 420px;
  background: var(--gradient);
  border-radius: 5px 5px 0 0;
}

.ProdutoGInfos {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px;
  font: var(--font-2-m);
  color: var(--g10);
  border-bottom: 0.5px solid var(--g4);
}

.desconto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.priceOriginal {
  font: var(--font-2-l-b);
  color: var(--r8);
  display: inline;
}

.priceOff {
  font: var(--font-2-xs);
  text-decoration: line-through;
  text-decoration-color: var(--g3);
  color: var(--g3);
  display: inline;
}

.product {
  background-color: var(--w);
  border-radius: 5px;
  position: relative;
}

.modal {
  position: absolute;
  width: 100%;
  height: 25%;
  display: none;
}

.product:hover .modal {
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0 5px 0 5px;
  z-index: 12;
  gap: 12px;
}

.modal button {
  background-color: var(--a2);
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
}

.modal input {
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
}

.Functions {
  display: flex;
  gap: 20px;
}

.amount {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.amount button {
  height: 30px;
}

.parcela {
  font: var(--font-2-xs);
}

.Produtos::-webkit-scrollbar {
  display: block;
  height: 12px;
  background-color: var(--a5);
  border-radius: 3px;
  border: none;
}

.Produtos::-webkit-scrollbar-thumb {
  background-color: var(--r5);
  border-radius: 5px;
  border: none;
}

/*  Media Queries */
@media (max-width: 1600px) {
  .Produtos {
    width: 100vw;
  }
}
@media (max-width: 1050px) {
  .titleSection {
    position: sticky;
    margin: 0;
    left: 0px;
  }

  .Produtos {
    grid-auto-columns: 320px;
    width: 80vw;
  }
}

@media (max-width: 750px) {
  .ProdutoGImagem {
    height: 320px;
  }
}

@media (max-width: 400px) {
}
