.Container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px;
  background-color: var(--a5);
  width: 100%;
}

.titleSection {
  font: var(--font-1-xl);
  color: var(--r9);
  margin-left: 240px;
}

.Produtos {
  display: flex;
  flex-direction: row;
  width: 1160px;
  gap: 40px;
  margin: auto;
}

.ProdutoM {
  width: 260px;
  height: 360px;
  border-radius: 5px;
  background: var(--w);
  text-align: center;
  text-decoration: none;
}

.ProdutoMImagem {
  width: 100%;
  height: 240px;
  background: var(--gradient);
  border-radius: 5px 5px 0 0;
}

.ProdutoMInfos {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  color: var(--g8);
  font: var(--font-2-m);
}

.desconto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.priceOriginal {
  font: var(--font-2-m);
  color: var(--r8);
  display: inline;
}

.priceOff {
  font: var(--font-2-xs);
  text-decoration: line-through;
  text-decoration-color: var(--g3);
  color: var(--g3);
  display: inline;
}

.product {
  background-color: var(--w);
  border-radius: 5px;
  position: relative;
}

.modal {
  position: absolute;
  width: 100%;
  height: 30%;
  display: none;
}

.product:hover .modal {
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0 5px 0 5px;
  z-index: 12;
  gap: 12px;
}

.modal button {
  background-color: var(--a2);
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
}

.modal input {
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
}

.Functions {
  display: flex;
  gap: 20px;
}

.amount {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.amount button {
  height: 30px;
}
